In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df_promental = pd.read_csv('./Banco_de_dados_bancosaudemental.csv', 
                           delimiter=';', encoding='ISO-8859-1')
df_promental.head()

,SAMPLEID,SC1,SC1_1,SC2,SC2A,SC3,SC3A,SC7,SC8_1,SC8_2,...,notreat12_notsevere,notreat12_anypredisposing,notreat12_service,qids_none,qids_mild,qids_mod,qids_sev,qids_vsev,qids_sevverysev,_merge
0,3201000001-01,32,1,4,4.0,5,1.0,2,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)
1,3201000002-01,31,1,8,4.0,5,1.0,3,3,3,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)
2,3201000003-01,60,1,9,4.0,1,NaN,2,4,4,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,matched (3)
3,3201000004-01,34,1,5,4.0,5,1.0,3,3,2,...,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)
4,3201000005-01,84,2,41,4.0,4,5.0,3,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)

In [3]:
lines, columns = df_promental.shape
lines, columns

(5037, 2075)

In [4]:
df_promental.dtypes

SAMPLEID            object
SC1                  int64
SC1_1                int64
SC2                  int64
SC2A               float64
                    ...
qids_mod           float64
qids_sev           float64
qids_vsev          float64
qids_sevverysev    float64
_merge              object
Length: 2075, dtype: object

In [5]:
df_describe = df_promental.describe(include='all').T

In [6]:
df_describe

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
SAMPLEID,5037,5037,3201000001-01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SC1,5037.0,NaN,NaN,NaN,41.517769,15.005041,18.0,29.0,40.0,52.0,93.0
SC1_1,5037.0,NaN,NaN,NaN,1.565813,0.495699,1.0,1.0,2.0,2.0,2.0
SC2,5037.0,NaN,NaN,NaN,16.527695,43.349269,1.0,5.0,11.0,22.0,999.0
SC2A,5028.0,NaN,NaN,NaN,3.88564,0.364324,1.0,4.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
qids_mod,501.0,NaN,NaN,NaN,0.295409,0.456682,0.0,0.0,0.0,1.0,1.0
qids_sev,501.0,NaN,NaN,NaN,0.321357,0.467464,0.0,0.0,0.0,1.0,1.0
qids_vsev,501.0,NaN,NaN,NaN,0.263473,0.440957,0.0,0.0,0.0,1.0,1.0
qids_sevverysev,501.0,NaN,NaN,NaN,0.58483,0.493244,0.0,0.0,1.0,1.0,1.0
_merge,5037,1,matched (3),5037,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
amount_nulls = df_promental.isnull().sum() / lines * 100
df_describe['nulls %'] = amount_nulls

In [8]:
df_describe['tipos'] = df_promental.dtypes

In [9]:
df_describe

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,nulls %,tipos
SAMPLEID,5037,5037,3201000001-01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,object
SC1,5037.0,NaN,NaN,NaN,41.517769,15.005041,18.0,29.0,40.0,52.0,93.0,0.000000,int64
SC1_1,5037.0,NaN,NaN,NaN,1.565813,0.495699,1.0,1.0,2.0,2.0,2.0,0.000000,int64
SC2,5037.0,NaN,NaN,NaN,16.527695,43.349269,1.0,5.0,11.0,22.0,999.0,0.000000,int64
SC2A,5028.0,NaN,NaN,NaN,3.88564,0.364324,1.0,4.0,4.0,4.0,4.0,0.178678,float64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
qids_mod,501.0,NaN,NaN,NaN,0.295409,0.456682,0.0,0.0,0.0,1.0,1.0,90.053603,float64
qids_sev,501.0,NaN,NaN,NaN,0.321357,0.467464,0.0,0.0,0.0,1.0,1.0,90.053603,float64
qids_vsev,501.0,NaN,NaN,NaN,0.263473,0.440957,0.0,0.0,0.0,1.0,1.0,90.053603,float64
qids_sevverysev,501.0,NaN,NaN,NaN,0.58483,0.493244,0.0,0.0,1.0,1.0,1.0,90.053603,float64
_merge,5037,1,matched (3),5037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,object

In [10]:
df_describe[df_describe['nulls %'] > 90]

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,nulls %,tipos
CC2,50.0,NaN,NaN,NaN,2.12,0.91785,1.0,1.0,2.0,3.0,3.0,99.007346,float64
CC2A01,50.0,NaN,NaN,NaN,5.76,3.347616,1.0,2.25,5.5,9.75,10.0,99.007346,float64
CC2A02,5.0,NaN,NaN,NaN,8.6,1.949359,6.0,7.0,10.0,10.0,10.0,99.900735,float64
CC2A03,2.0,NaN,NaN,NaN,10.0,0.0,10.0,10.0,10.0,10.0,10.0,99.960294,float64
CC2A04,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,float64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
qids_mild,501.0,NaN,NaN,NaN,0.101796,0.302683,0.0,0.0,0.0,0.0,1.0,90.053603,float64
qids_mod,501.0,NaN,NaN,NaN,0.295409,0.456682,0.0,0.0,0.0,1.0,1.0,90.053603,float64
qids_sev,501.0,NaN,NaN,NaN,0.321357,0.467464,0.0,0.0,0.0,1.0,1.0,90.053603,float64
qids_vsev,501.0,NaN,NaN,NaN,0.263473,0.440957,0.0,0.0,0.0,1.0,1.0,90.053603,float64
qids_sevverysev,501.0,NaN,NaN,NaN,0.58483,0.493244,0.0,0.0,1.0,1.0,1.0,90.053603,float64

In [11]:
columns_90nulls = df_describe[df_describe['nulls %'] > 90].index
df_promental.drop(columns=columns_90nulls, inplace=True)
df_promental

,SAMPLEID,SC1,SC1_1,SC2,SC2A,SC3,SC3A,SC7,SC8_1,SC8_2,...,notreat12_inconvenient,notreat12_anyenabling,notreat12_handleown,notreat12_ineffective,notreat12_stigma,notreat12_getbetter,notreat12_notsevere,notreat12_anypredisposing,notreat12_service,_merge
0,3201000001-01,32,1,4,4.0,5,1.0,2,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)
1,3201000002-01,31,1,8,4.0,5,1.0,3,3,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,matched (3)
2,3201000003-01,60,1,9,4.0,1,NaN,2,4,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,matched (3)
3,3201000004-01,34,1,5,4.0,5,1.0,3,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,matched (3)
4,3201000005-01,84,2,41,4.0,4,5.0,3,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5032,3214006521-01,40,2,3,4.0,1,NaN,2,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)
5033,3214006522-01,24,1,16,3.0,5,5.0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)
5034,3214006523-01,57,2,1,4.0,5,5.0,2,3,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,matched (3)
5035,3214006524-01,19,1,30,3.0,5,5.0,2,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)
5036,3214006525-01,38,2,14,3.0,3,1.0,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)

KeyError: 'SC0_4'